@(disciplinas: List[Disciplina], dia:String)

@for(disciplina <- disciplinas) {
	<div class="panel panel-primary redips-drag" style="margin-bottom:4px">
		<div class="panel-heading">
			<h4 class="panel-title text-center">
				<a data-toggle="collapse" data-parent="#accordion"
					href="#@disciplina.retornaIDUnico(dia)">@disciplina.getAbreviatura()</a>
			</h4>
		</div>
	
		<div id="@disciplina.retornaIDUnico(dia)" class="panel-collapse collapse">
			<div class="panel-body">
				Sala: @disciplina.getSala() <br> Professor: @disciplina.getProfessor()
			</div>
	
			<div class="panel-body2">
				<center>
					<button type="button" class="btn btn-primary btn-circle"
						data-toggle="modal" data-target="#myModal">
						<i class="glyphicon glyphicon-edit"></i>
					</button>
					<button type="button" class="btn btn-primary btn-circle">
						<i class="glyphicon glyphicon-remove"></i>
					</button>
				</center>
			</div>
		</div>
	</div>
}
