@(disciplinas: List[Disciplina])

<!DOCTYPE html>
<html lang="pt-br">
  <head>
	
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Disciplinas do Curso</title>
    
    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
   
    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">

	<link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/main.css")'>
	<link rel="shortcut icon" type="image/png" href='@routes.Assets.versioned("images/favicon.png")'>

  </head>

  <body>
	  
	<!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
          <center><img class="centralizar" src='@routes.Assets.versioned("images/logo.jpg")' /></center>
      </div>
    </div>

	<div class="container">
        <br><br>
        <table class="table table-striped table-bordered sorted_table" style="text-center table-layout: fixed;">
		   <thead>
			<tr>
				<td>Disciplina</td>
				<td>Professor</td>
				<td>Horário</td>
			</tr>
		   </thead>
		   <tbody>
			@for(disciplina <- disciplinas) {
				<tr>
					<td> @disciplina.getNome()</td>
					<td> @disciplina.getProfessor()</td>
					<td> @disciplina.getHorariosDaDisciplinaToString()</td>
				</tr>	
			}

			</tbody>
		   
       </table>
    </div>
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
	<div id="f">
	</div>
</html>